body {
    background-color: rgb(229, 232, 232);
    font-family: 'Montserrat Alternates', sans-serif;
}
.main-container {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    background-color: #fff;
    margin: 40px auto;
    
}
.my-container-section {}
.about-me-profession {
    font-size: 14px;
    font-weight: 700;
    color: black;
}
.about-me-section {
    background: rgb(190, 112, 112);
}
.my-projects-section {
    background: rgb(95, 106, 179);
}
.my-work-experience {
    background: rgb(135, 189, 133);
}
.my-education {
    background: rgb(167, 82, 167);
}




/*sidebar*/

.sidebar-section {
    background-color: #838e9f;
    width: 370px;
    padding: 40px 0;
    
}
.photo {
    width: 370px;
}
.contacts {
    margin: 50px 0 0 40px;
}
.tech-skills {
    margin: 50px 0 0 40px;
}
.soft-skills {
    margin: 50px 0 0 40px;
}
.sidebar-title {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
}
.contacts-type {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
}
.contacts-link {
    color: #565E6A;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

}
.tech-skills-list,
.soft-skills-list {
    padding: 0 0 0 17px;
}
.tech-skills-item,
.soft-skills-item {
    color: orange;
}
.tech-skills-item-text,
.soft-skills-item-text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
}